<html>
<head>
<style>
h1{
margin-top:1vw;
text-align:center;
font-size:3vw;
}
img{
display:block;
margin-left:auto;
margin-right:auto;
width:20%;
margin-top:7vw;
}
body {
  background-image: url('http://localhost:8080/files/fundal.jpg');
}
</style>
</head>
<body>
<img src="http://localhost:8080/files/sad.png" alt="sadface" />
<h1><%=title%><br>Pagina nu a fost gasita<br>
<a href="http://localhost:8080">Click</a> pentru revenire la pagina principala</h1>
</body>
</html>